

.container-stock {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
  
  }
  .stock-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
  }


  .stock-header {
    display: flex;
    padding: 24px;
    background-color: rgb(238, 238, 238);
    width: 100%;
    justify-content: space-between;
  
  }
  .stock-header-logo {
    /* background-color: red; */
    width: 150px;
    display: flex;
    justify-content: center;
  }
  .stock-header-left {
    display: flex;
  }
  .stock-header img {
    /* scale: 1.5; */
    border: 1px solid rgba(120, 120, 120, 0.4);
    border-radius: 8px;
    /* border: 1px solid black */
  }
  
  .stock-header-name {
    /* background-color: red; */
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    line-height: 16px;
    align-items: start;
    padding: 0px;
    margin: 0px
  }
  .stock-header-name h1 {
    /* margin: 0px */
  }
  .stock-header-value {
  width: 150px;
  height: 120px;
  line-height: 12px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 30px;

  }
  .stock-header-value input {
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.387); */
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    border-left: 1px solid rgba(128, 128, 128, 0.3);
    border-bottom: 1px solid rgba(191, 191, 191, 0.376);
    border-right: 1px solid rgba(191, 191, 191, 0.376);
    width: 60px;
    margin: 2px;
    height: 24px;

}

.stock-average-price,
.stock-amount {
/* background-color: red; */
    width: 120px;
    display: flex;
    /* flex-direction: column; */
    justify-content:space-between;
    align-items: center;
    margin: 0px 0px;
}
.stock-average-price label,
.stock-amount label {
    font-size: 12px;
    text-align: center;
}


    .stock-indicators {
    background-color: rgb(238, 238, 238);
    max-width: 525px;
  
    height:fit-content;
    border-radius: 0px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    text-align: start;
 

  }
  .stock-indicators-header{
    background-color: rgb(218, 218, 218);
    /* border-radius: 24px 24px 0 0; */
    display: fle;
    width: 100%;
    margin: 0px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .stock-indicators-header h1{
    font-size: 12px;
    margin:12px 12px;
    font-family: 'Roboto';
  }
.stock-indicators-body {
    /* background-color: white; */
    border-radius: 0px 0px 24px 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding:4px

    /* height: ; */
}

.info-hidden {
    width: 100px;
    height: 40px;
    background-color: red;
    position: absolute;
    display: none;
    transform: translateY(-20px);
    
    /* padding: 40px; */
}

.stock-indicators-body div {
    display: flex;
    flex-wrap: wrap;
    /* padding: 4px 0px; */
    /* align-items: center; */
    margin: 1px 1px;
    
}

.stock-indicator {
    border: 1px solid rgba(127, 127, 127, 0.4);
    display: flex;
    height: 42px;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.445);
    /* align-items: center; */
    justify-content: space-between;
    border-radius: 8px;
    /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); */
    width: 99.5px;
    font-family: 'Roboto';
    /* border-bottom: 1px solid grey; */
    line-height: 8px;
}
.stock-indicator p {
    font-size: 10px;
        font-family: 'Roboto';
        margin: 4px
}


.stock-indicators-valuation-body,
.stock-indicators-indebtedness-body,
.stock-indicators-efficiency-body,
.stock-indicators-profitability-body,
.stock-indicators-growth-body {
/* justify-content: center; */
}


.stock-indicators-valuation,
.stock-indicators-indebtedness,
.stock-indicators-efficiency,
.stock-indicators-profitability,
.stock-indicators-growth {
    display: flex;
    flex-direction: column;
}

.stock-indicators-valuation-header h1,
.stock-indicators-indebtedness-header h1,
.stock-indicators-efficiency-header h1,
.stock-indicators-profitability-header h1,
.stock-indicators-growth-header h1  {
    font-size: 12px;
    font-family: 'Roboto';
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.7)
}



.division-indicators {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
    margin-top:8px;

    
}

.division-indicators:last-child {
    margin-bottom: 20px;
}



.stock-indicator p:first-child {
    font-weight: 600;
    color: #444444;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.stock-indicator p {
    font-weight: 600;
}




.stock-index { 
    background-color: rgb(238, 238, 238);
    /* border-radius: 24px; */
    margin: 20px;
    height: 250px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
}

.stock-index-header {
    display: flex;
    text-align: start;
}

.stock-index-header h1{
    font-size: 12px;
    padding:12px 36px;
    margin: 0px;
    font-family: 'Roboto';
    background-color: rgb(218, 218, 218);
    width: 100%;
}

.stock-index-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 210px;
}

.stock-index-body img {
    width: 310px;
}

.chevronicon {
    transition: 0.4s;
}


.stock-indicators-indebtedness.show,
.stock-indicators-efficiency.show,
.stock-indicators-profitability.show,
.stock-indicators-growth.show,
.division-indicators.show {
    display: none;
}


.chevronicon.show {
    transform: rotateZ(180deg);
}

.info-icon {
    position:absolute;
    font-size:20px;
    padding: 4px;
    margin: 20px 0px;
    /* margin-bottom: 20px; */
}


.stock-infos {
    display: flex;
    width: 300px;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    flex-direction: column;
    margin: 20px;
    height: 250px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
}
.stock-infos-header {
    background-color: rgb(218, 218, 218);
    text-align: start;
    
}
.stock-infos h1 {
    font-size: 12px;
    padding:12px 36px;
    margin: 0px;
    font-family: 'Roboto';
    /* background-color: rgb(218, 218, 218); */
    width: 100%;

    
}

.stock-infos-body {
    width: 100%;
    padding: 12px;
    /* background-color: red; */

    /* background-color: rgb(222, 222, 222); */
}
.stock-infos-body h2 {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    /* background-color: RED; */
    justify-content: space-between;
    height: 17px;
    
}
.stock-infos-body h2 p {
    margin-left: 4px;

}

.stock-my-wallet {
    display: flex;
    width: 300px;
    background-color: rgb(238, 238, 238);
    margin: 20px;
    flex-direction: column;
    margin: 20px;
    height: 180px;
    border: 1px solid rgba(128, 128, 128, 0.2);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
}
.stock-my-wallet-header {
    background-color: rgb(218, 218, 218);
    text-align: start;
    
}
.stock-my-wallet-header h1 {
    font-size: 12px;
    padding:12px 36px;
    margin: 0px;
    font-family: 'Roboto';
    /* background-color: rgb(218, 218, 218); */
    width: 100%;
}





@media only screen and (max-width: 900px) {
  
    .stock-header-name {text-align: start;}
    .stock-header-name h1 {
        font-size: 20px;

    }
    .stock-header-name p {
        margin: 0px
    }
    .stock-header-value p{font-size: 20px;}

 

}

@media only screen and (max-width: 700px) {
    .stock-indicators-valuation-body,
    .stock-indicators-indebtedness-body,
    .stock-indicators-efficiency-body,
    .stock-indicators-profitability-body,
    .stock-indicators-growth-body {
    justify-content: center;
    }
    .stock-header img {scale: 0.7;}
.stock-indicators {margin-bottom: 100px;}
.stock-content{ padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  
}
.stock-wallet-infos, .stock-my-wallet, .stock-infos {justify-content: center;}
}

@media only screen and (max-width: 500px) {
    .stock-wallet-infos, .stock-my-wallet, .stock-infos {width: 99%;margin: 12px 0px;}
    .stock-header-logo {
        padding: 0px;
        margin-left: -24px;
        /* background-color: red; */
        width: 100%;
    }
    .stock-my-wallet, .stock-infos {
        margin-left: 2px;
    }
}